# Neuro SAN
neuro-san==0.6.26
nsflow==0.6.7

# To use a .env file for environment variables
python-dotenv==1.0.1

# For the F1 telemetry tools https://github.com/Fredrik2002/f1-25-telemetry-application
PySide6==6.9.3
